body {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 200px;
}

.subtitle {
    border-top: 1px solid #fee8af;
    background-color: #fdfbf1;
    width: 100%;
    text-align: center;
    color: #107777;
}