body {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 200px;
}

.subtitle {
    border-top: 1px solid #fee8af;
    background-color: #fdfbf1;
    width: 100%;
    text-align: center;
    color: #107777;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 50%;
}

.main-container h1 {
    text-align: center;
    color: #333333;
    padding-left: 40px;
    padding-right: 40px;
}

.main-container img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

figcaption {
    text-align: center;
    color: #9e9e9e;
    margin-top: 10px;
}

.link-image {
    margin-top: 20px;
    border-left: 1px solid #fee8af;
    padding-left: 20px;
    margin-bottom: 30px;
}

.link-image h4 {
    color: #b5460f;
    margin: 0;
    padding: 0;
}

.link.image a {
    color: #127878;
}

